/* 주석복사 { */

/* } */

/* 공통 { */
.main_wrap {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}
.sub_color {
  color: #ff6699;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999999;
}
#loading_api {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #9999ff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* } */

/* 상단 { */
.top_wrap {
  /*border-bottom: 1px solid #eee;*/
}
.top_div {
  margin: 0 auto;
}
.top_div_l {
  float: left;
}
.top_div_l ul {
  margin-right: 30px;
  float: left;
  margin-top: 20px;
}
.top_div_r {
  float: right;
}
.top_div_r ul {
  float: left;
  margin-left: 30px;
}
.top_div_r .m_ul {
  float: left;
  margin-left: 15px;
}
.top_div_r .m_ul_f {
  float: left;
  margin-left: 30px;
}

.top_gap {
  width: 30px;
  /*border-right: 1px solid #eee;*/
  height: 60px;
  float: left;
}

.top_profile li {
  float: left;
  margin-top: 20px;
}
.top_profile_img {
  margin-top: 14px !important;
  margin-right: 15px !important;
}
.top_profile_img img {
  width: 35px;
  border-radius: 40%;
}
.top_point {
  margin-left: 25px;
}
.top_msg {
  margin-top: 19px;
}
.top_msg_bell {
  position: relative;
  cursor: pointer;
}
.top_msg_bell_img {
  color: #ddd;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
.top_msg_count {
  background-color: #ffcc00;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 0px 6px 0px 6px;
  position: absolute;
  top: -5px;
  left: 13px;
  height: 20px;
}

.top_msg a:hover .top_msg_bell_img {
  color: #60269e !important;
}
.price_bdr {
}

.page-content {
  line-height: 22px;
  word-break: keep-all;
  word-wrap: break-word;
}
.page-content .article-title {
  color: #000;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 10px;
}
.page-content p {
  margin: 0 0 0px;
  padding: 0;
}

/* } */

.bg_box_pri {
  padding: 20px;
  background-color: #f9f9f9;
  color: #000;
  border-radius: 15px;
  box-sizing: border-box;
}

/* GNB { */
.gnb_wrap {
  /*border-bottom: 1px solid #eee;*/
  height: 105px;
  background-color: #fff;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
.gnb_div {
  margin: 0 auto;
}
.gnb_ci {
  padding-top: 17px;
  float: left;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
.gnb_ci img {
  width: 140px;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
.gnb_sch {
  float: right;
  margin-top: 33px;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
.gnb_sch li {
  float: left;
}
.gnb_sch_inp {
  border-radius: 4px;
  border: 0px;
  background-color: #f5f5f5;
  height: 40px;
  width: 150px;
  text-indent: 15px;
}
.gnb_sch_btn {
  background: #8599d8;
  color: #fff;
  height: 40px;
  font-size: 14px;
  width: 78px;
  margin-left: 5px;
}

#d_gnb {
  position: relative;
  float: left;
  margin-left: 70px;
  margin-top: 40px;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
#d_gnb li {
  position: relative;
  float: left;
  padding: 0 11px;
}
#d_gnb li:first-child {
  padding-left: 0px;
}
#d_gnb li.on {
  color: #60269e;
}
#d_gnb li > a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: -0.5px;
  padding-bottom: 40px;
}
#d_gnb li a:hover {
  color: #60269e;
}

#d_gnb li div {
  position: absolute;
  top: 45px;
  left: 50%;
  width: 130px;
  margin-left: -65px;
  background: #fff;
  display: none;
  border-radius: 4px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#d_gnb li div dl {
  padding: 5px;
}

#d_gnb li div dl dd {
  text-align: left;
}
#d_gnb li div dl dd a {
  color: #000;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 13px;
  border-radius: 3px;
}
#d_gnb li div dl dd a:hover {
  background: #f1f1f1;
}
/* } */

/* Bar { */
.gnb_bar {
  float: right;
  margin-top: 40px;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
  margin-left: 30px;
}
.gnb_bar span {
  font-size: 24px;
}
.gnb_bar_btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
}
.gnb_bar_btn:hover {
  color: #60269e;
}
/* } */

/* GNB Fixed { */
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
}
.gnb_up {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  height: 80px;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
.gnb_ci_up {
  padding-top: 10px;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
.gnb_ci_up img {
  width: 120px !important;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}

.gnb_ci_up2 {
  padding-top: 20px;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
.gnb_ci_up2 img {
  width: 140px !important;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}

.d_gnb_up {
  margin-top: 30px !important;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
.gnb_sch_up {
  margin-top: 17px !important;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
.d_gnb_div_up {
  top: 40px !important;
}
.gnb_bar_up {
  margin-top: 25px;
  transition: all 350ms cubic-bezier(0.87, 1, 0.07, 1);
}
/* } */

.action_wrap {
  margin-top: 50px;
}
.action_div {
  margin: 0 auto;
}
.action_tit {
  width: 10%;
  float: left;
}
.action_tit_t {
  color: #60269e;
}
.action_more {
  margin-top: 75px;
}
.action_more_btn {
  background-color: #fff;
  border: 0px;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  padding: 0px;
  height: 45px;
  width: 100%;
  text-align: left;
}
.action_more_ico {
  margin-top: -1px;
  width: 15px;
}
.action_more_btn:hover {
  opacity: 0.7;
}

.action_more_btn2 {
  background-color: #fff;
  border: 0px;
  border-bottom: 2px solid #ddd;
  border-radius: 0px;
  padding: 0px;
  height: 35px;
  text-align: left;
}

.action_bn {
  width: 47%;
  float: left;
  padding-left: 3%;
}
.action_bn_div ul {
  float: left;
}
.action_bn_div_img {
  margin-top: 7px;
  position: relative;
}
.action_bn_div_txt {
  margin-left: 30px;
  background-color: #fff;
  width: 170px;
  min-height: 200px;
}
.action_bn_div img {
  position: absolute;
  top: -50%;
  width: 100%;
  height: auto;
}
.action_bn_div_img a {
  width: 400px;
  height: 200px;
  display: block;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.action_img_sale_ico {
  background-color: #60269e;
  color: #fff;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 20px;
  position: absolute;
  top: 65px;
  left: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}
.action_img_sale_ico dd {
  padding-top: 12px;
}

.action_img_sale_ico_part {
  background-color: #ff6699;
  color: #fff;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 20px;
  position: absolute;
  top: 65px;
  left: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}
.action_img_sale_ico_part dd {
  padding-top: 12px;
}

.action_load_txt {
  color: #bbb;
  font-size: 11px;
}

/* } */

/* 추천/광고상품 등 { */
.ch_prd {
  width: 40%;
  float: right;
  margin-top: 7px;
}
.swiper-pagination1 {
  bottom: -2px;
  left: 430px;
}
.swiper-button-prev1 {
  top: auto !important;
  bottom: -26px !important;
  left: 542px !important;
}
.swiper-button-next1 {
  top: auto !important;
  bottom: -26px !important;
  left: 572px !important;
}
/* } */

/* 메인배너 { */
.main_bn_wrap {
  margin-top: 50px;
}
.main_dn_div {
  margin: 0 auto;
}

.swiper-button-next3,
.swiper-button-prev3 {
  font-size: 40px !important;
}
.swiper-button-next3 {
  right: 25px !important;
}

/* } */

/* 신규등록 상품 { */
.new_prd_wrap {
  margin-top: 50px;
}
.new_prd_div {
  margin: 0 auto;
}
.new_prd_tit {
  /*border-bottom: 2px solid #eee;*/
  padding-bottom: 15px;
}
.new_prd_tit_li01 {
  float: left;
  margin-top: 3px;
}
.new_prd_tit_li02 {
  float: left;
  margin-left: 30px;
  margin-top: 3px;
}
.new_prd_tit_li03 {
  float: right;
}
/* } */

/* 베스트 상품 { */
.best_prd_wrap {
  margin-top: 50px;
}
.best_prd_div {
  margin: 0 auto;
}
.best_prd_tit {
  /*border-bottom: 2px solid #eee;*/
  padding-bottom: 20px;
}
.best_prd_tit_li01 {
  float: left;
}
.best_prd_tit_li02 {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}
.best_prd_tit_li03 {
  float: right;
}
/* } */

/* 상품공통 { */
.prd_img {
  position: relative;
}
.prd_img2 {
  position: relative;
}
.prd_img2 img {
  border-radius: 20px;
}

.prd_sale {
  background-color: #19ce60;
  color: #fff;
  border-radius: 4px;
  width: auto;
  height: 20px;
  position: absolute;
  text-align: center;
  bottom: -2px;
  left: 1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  padding-right: 5px;
}

.prd_sale_circle {
  background-color: #19ce60;
  color: #fff;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  position: absolute;
  text-align: center;
  bottom: 7px;
  right: 7px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  padding-right: 5px;
  padding-top:8px;
  z-index: 10;
}

.prd_sale_part {
  background-color: #ff6699;
  color: #fff;
  border-radius: 4px;
  width: auto;
  height: 20px;
  position: absolute;
  text-align: center;
  bottom: -2px;
  left: 1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  padding-right: 5px;
}
.prd_sale_part_circle {
  background-color: #ff6699;
  color: #fff;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  position: absolute;
  text-align: center;
  bottom: 7px;
  right: 7px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  padding-right: 5px;
  padding-top:8px;
}


.prd_sale3 {
  background-color: #19ce60;
  color: #fff;
  border-radius: 4px;
  width: auto;
  height: 20px;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}

.prd_sale2 {
  background-color: #19ce60;
  color: #fff;
  border-radius: 4px;
  width: auto;
  height: 20px;
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  padding-right: 5px;
}



.prd_sale_part2 {
  background-color: #ff6699;
  color: #fff;
  border-radius: 4px;
  width: auto;
  height: 20px;
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  padding-right: 5px;
}

.prd_sale dd {
  padding-top: 2px;
}
.prd_sale_part dd {
  padding-top: 2px;
}
.prd_sale2 dd {
  padding-top: 2px;
}
.prd_sale_part2 dd {
  padding-top: 2px;
}

.rank_divs {
  position: absolute;
  background-color: #333;
  color: #fff;
  border-top-left-radius: 4px;
  width: 30px;
  height: 30px;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  padding-top: 6px;
}
/* } */

/* 셀러 추출목록 { */
.seller_wrap {
  margin-top: 50px;
  padding-bottom: 40px;
  position: relative;
}
.seller_div {
  margin: 0 auto;
}
.seller_div_tit {
  text-align: center;
  padding-top: 100px;
}
.seller_list {
  margin: 0 auto;
  padding-top: 40px;
}
.seller_img img {
  border-radius: 50%;
}
.swiper-button-next5 {
  right: 0px !important;
}
.swiper-button-prev5 {
  left: 0px !important;
}
.seller_bn img {
  border-radius: 10px;
}
.seller_bn {
}
/* } */

/* 하단 { */
.btm_wrap {
  border-top: 2px solid #eee;
  padding-top: 60px;
  margin-top: 60px;
}
.btm_div {
  margin: 0 auto;
}

.btm_bn {
  width: 330px;
  float: left;
  margin-left: 50px;
}

.cl1 {
  background-color: #f1f1f1;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;
  cursor: pointer;
}
.cl1_ul1 {
  margin-left: 20px;
}
.cl1_ul2 {
  margin-left: 20px;
  margin-top: 3px;
}
.cl1_ul3 {
  margin-right: 15px;
  margin-top: 2px;
}

.btm_news {
  width: 420px;
  float: left;
}
.btm_cus {
  width: 240px;
  float: right;
}
.btm_news_tit {
  padding-bottom: 12px;
  border-bottom: 2px solid #eee;
}
.btm_news_tit .fl {
  margin-top: 1px;
}

.btm_cus2 {
  width: 260px;
  float: left;
  margin-left: 50px;
}

.btm_cus_tit {
  padding-bottom: 14px;
  border-bottom: 2px solid #eee;
}
.btm_cus_tit .fl {
  margin-top: 1px;
}

.btm_btn_ul .fl {
  text-align: left;
  width: 49%;
}
.btm_btn_ul .fr {
  text-align: right;
  width: 49%;
}
.btm_btn {
  height: 37px;
  width: 100%;
}

.copy_warp {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  background-color: #f5f5f5;
}
.copy_div {
  margin: 0 auto;
}

.copy_txt {
  margin-top: 25px;
}
.copy_sns {
  margin-top: 30px;
  margin-right: 0px;
  text-align: right;
}
.copy_sns img {
  width: 30px;
  margin-left: 7px;
}
.copy_ini {
  padding-top: 0px;
  float: right;
}

.copy_div .fr {
}
.btm_ci {
  width: 65px;
}
.btm_ci_div {
}

.btm_re_copy {
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 30px;
}
.btm_re_copy_div {
  margin: 0 auto;
}
/* } */

/* 히든 GNB { */
.r_bns img {
  width: 100%;
  border-radius: 4px;
}
.r_gnb_ico_r {
  float: right;
  margin-top: 13px;
}

.login_btns {
  width: 100%;
  height: 48px;
  background: linear-gradient(45deg, #60269e 0, #8965e0 100%);
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.gra_btns {
  width: 100%;
  height: 48px;
  background: linear-gradient(45deg, #f5365c 0, #f56036 100%) !important;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.gnb_sch_btn2 {
  background: #a369d0;
  color: #fff;
  height: 40px;
  font-size: 14px;
  width: 78px;
  margin-left: 5px;
}

.r_profile_img {
  margin-top: 2px;
}
.r_profile_img img {
  width: 40px;
  border-radius: 40%;
}
.r_profile_txt {
  margin-left: 15px;
  margin-top: 0px;
}
.hd_rnb_m {
  float: right;
  margin-top: 3px;
  margin-right: 30px;
}
.hd_rnb_m span {
  color: #fff;
}
.sh-side-options-item-trigger-demos {
  cursor: pointer;
}
.r_prof_div {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.r_prof_div2 {
  padding-bottom: 30px;
}
.l_btn {
  margin-top: 25px;
  float: left;
  width: 48%;
}
.r_btn {
  margin-top: 25px;
  float: right;
  width: 48%;
}
.r_center {
  text-align: center;
  margin-top: 10px;
}
.r_pro_sns_ico img {
  width: 22px;
}
.r_gnb_uls {
  padding-top: 17px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.r_gnb_icos {
  margin-top: -22px;
}

.rr_gnb_01 {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px 10px 8px 10px;
  font-size: 13px;
  width: 40%;
  float: left;
  cursor: pointer;
}

.rr_gnb_01:hover {
  border: 1px solid #aaa;
  transition: all 350ms cubic-bezier(0.07, 1, 0.07, 1);
}

.rr_gnb_02 {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px 10px 8px 10px;
  font-size: 13px;
  width: 40%;
  float: right;
  cursor: pointer;
}
.rr_gnb_02:hover {
  border: 1px solid #aaa;
  transition: all 350ms cubic-bezier(0.07, 1, 0.07, 1);
}
.rr_gnb_01_li0 {
  float: left;
  margin-top: 1px;
}
.rr_gnb_01_li0 span {
  font-size: 18px;
  color: #ccc;
}

.rr_gnb_01_li1 {
  float: left;
  margin-top: 2px;
  margin-left: 5px;
}

.rr_gnb_01_li2 {
  float: right;
  color: #ff7d9e;
  margin-top: 2px;
}

.sh-side-options {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 12345678902;
  padding: 0 0;
  width: 420px;
  transform: translateX(420px);
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}

.sh-side-options.open {
  transform: translateX(0px);
  box-shadow: 0 0px 39px 10px rgba(0, 0, 0, 0.2);
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}

.sh-side-options-container {
  position: absolute;
  top: 50px;
  left: -80px;
  bottom: auto !important;
  width: 60px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  margin-right: 15px;
  box-shadow: -10px 0px 20px 2px rgba(0, 0, 0, 0.06);
}

.sh-side-options-item {
  display: block;
  text-align: center;
  margin: 0px;
  position: relative;
  padding: 7px;
  cursor: pointer;
}

.sh-side-options-item:not(:last-child) {
  border-bottom: 1px solid #f1f3fc;
}
.sh-side-options-item-container {
  border-radius: 4px;
  padding: 8px 0;
}
.sh-side-options-item:hover .sh-side-options-item-container,
.sh-side-options-item:focus .sh-side-options-item-container,
.sh-side-options.open
  .sh-side-options-item-trigger-demos
  .sh-side-options-item-container {
  background-color: #f3f5fd;
}
.sh-side-options-item i {
  font-size: 22px;
}
.sh-side-options-item:not(:hover):not(:focus) {
  color: #9396a5 !important;
}
.sh-side-options-item:hover .sh-side-options-hover {
  opacity: 1;
  transform: translateX(-97%);
}
.sh-side-options-hover {
  position: absolute;
  background-color: #ffffff;
  color: #32343d;
  padding: 20px 26px;
  transform: translateX(-70%);
  left: 0px;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: -100;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 13px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.08);
}

.sh-side-options-hover span {
  padding: 0px 3px;
}
.sh-side-options-item i {
  color: #9396a5 !important;
}
.sh-side-options.open .sh-side-options-item-trigger-demos i,
.sh-side-options-item:hover i,
.sh-side-options-item:focus i {
  color: #294cff !important;
}

.sh-side-demos-container {
  top: 0;
  left: 0;
  right: -20px;
  bottom: 0;
  position: absolute;
  overflow-y: scroll;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right top;
  padding: 22px;
  padding-bottom: 35px;
  box-sizing: border-box;
}

.close_r {
  position: absolute;
  top: 30px;
  right: 40px;
  left: auto;
  cursor: pointer;
  z-index: 99;
}

.close_r i {
  color: #c5c5c5;
  font-size: 18px;
}
.close_r:hover i,
.close_r:focus i {
  color: #7f7f7f;
}
.sh-side-demos-loop-container {
  position: relative;
  margin: 0 -10px;
  margin-top: 10px;
}

.sh-side-demos-item {
  display: inline-block;
  position: relative;
  margin-right: -4px;
  margin-bottom: 25px;
  width: 50%;
  padding: 0 10px;
  text-align: center;
  top: 0;
}

.sh-side-demos-item:hover {
  top: -4px;
}
.sh-side-demos-item .sh-image-lazy-loading {
  border-radius: 3px;
  box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.1);
}
.sh-side-demos-item img {
  border-radius: 3px;
}
.sh-side-demos-item-name {
  font-size: 12px;
  color: #32343d;
  font-weight: 600;
  padding-top: 10px;
}
.sh-side-options {
  width: 350px;
  transform: translateX(350px);
}

.r_menu_div {
}
.r_menu_div ul {
  float: left;
  width: 30%;
  margin-left: 13px;
}
.r_menu_div ul:first-child {
  margin-left: 0px;
}
.bgs {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
}

.top_gnb {
}
.top_gnb ul {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.top_gnb ul li {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
}
.top_gnb_sub {
  background-color: #f1f1f1;
  margin-top: 122px;
}
.top_gnb_sub_div {
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.top_gnb_sub_div .material-icons {
  color: #ccc;
}
.top_gnb_sub_div:hover {
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  transition: all 350ms cubic-bezier(0.07, 1, 0.07, 1);
}
.top_gnb_sub_div img {
  height: 25px;
  width: auto;
  margin-left: -3px;
}
.top_gnb_sub_div span {
  display: block;
  text-align: center;
  margin-top: 3px;
}

.cs_sns_ico img {
  width: 30px;
}

.cs_tel {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
}
.cs_tel_ul1_m {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 20px;
  cursor: pointer;
}
.cs_tel_ul1_m li {
}
.cs_tel_ul1_m2 {
  box-sizing: border-box;
  padding-bottom: 20px;
  cursor: pointer;
  margin-left: 10px;
}
.cs_txt2 {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cs_pro_tel {
  margin-top: 15px;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}
.cs_pro_tel_ul1_m {
  box-sizing: border-box;
  padding-top: 10px;
  cursor: pointer;
}
.cs_pro_tel_ul1_m li {
}
.cs_pro_tel_ul1_m2 {
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 10px;
}

.r_td_view {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

/* } */

/* 알림 { */
.alt_list {
  cursor: pointer;
}
.alt_list:hover {
  background-color: #f9f9f9;
}
.al_view_ul1 {
  float: left;
  width: 10%;
  text-align: center;
  margin-top: 10px;
  padding-left: 5px;
}
.al_view_ul2 {
  float: left;
  width: 80%;
}
.al_view_ul3 {
  float: left;
  width: 10%;
  padding-top: 10px;
  text-align: center;
}
.add_wrap {
  padding: 30px;
}
.alt3_tit .selected a {
  color: #60269e;
}
.alt1_tit {
  text-align: left;
  float: left;
}
.alt2_tit {
  text-align: left;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}
.alt3_tit {
  text-align: left;
  float: right;
  margin-top: 4px;
}
.alt3_tit li {
  float: left;
  color: #999;
  margin-left: 15px;
}
.add_gui_t2 {
  margin-top: 25px;
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 20px;
}
.add_input {
  width: 100%;
  text-indent: 15px;
  height: 45px;
  background-color: #f3f3f3;
  border: 0px;
  border-radius: 4px;
}
.alt_area {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 4px;
  border: 0px;
  padding: 15px;
  height: 100px;
}
.add_btns {
  width: 100%;
  height: 48px;
  background-color: #333;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.memo_v_t1 {
  float: left;
}
.memo_v_t2 {
  float: right;
  margin-top: -6px;
}
/* } */

/* 포인트 { */
.po_view_ul1 {
  float: left;
  width: 10%;
  text-align: left;
  margin-top: 10px;
  padding-left: 15px;
}
.po_view_ul2 {
  float: left;
  width: 45%;
}
.po_view_ul3 {
  float: right;
  width: 40%;
  padding-top: 10px;
  text-align: right;
  padding-right: 20px;
}
.pot2_tit {
  text-align: left;
  float: right;
  margin-top: 5px;
}

.po_btn1 {
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px 10px 3px 10px;
}
.po_btn2 {
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px 10px 3px 10px;
}

.po_btn1:hover {
  border: 1px solid #aaa;
}
.po_btn2:hover {
  border: 1px solid #aaa;
}

.status_btns {
  border-radius: 4px;
  line-height: 35px;
  color: #fff !important;
  font-size: 14px !important;
  padding: 0px 20px !important;
  border: 0px;
}
/* } */

/* 서브 { */
.sub_tits {
  background-color: #f9f9f9;
  color: #000;
}
.sub_tits_ul {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sub_wrap {
  margin: 0 auto;
  margin-top: 40px;
}
#sct_lst {
  display: none !important;
  width: 0px;
}
#sct_location {
  display: none !important;
}
/* } */

/* 로그인 { */
.login_div {
  width: 450px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 30px 30px 70px rgba(0, 0, 0, 0.1);
}
.login_wrap {
  padding: 40px 40px 50px 40px;
  text-align: center;
}
.ci_full {
  width: auto;
}
.ci_full_sz {
  width: auto;
}
.api_join {
  border-top: 1px solid #eee;
  padding: 40px;
}
.login_join {
  margin-top: 40px;
}
.login_join_t {
  margin-top: 25px;
}
.login_input_id {
  margin-top: 30px;
}
.login_input_pw {
  margin-top: 10px;
}
.order_v_input {
  margin-top: 15px;
}
.login_input {
  width: 100%;
  text-indent: 20px;
  height: 48px;
  background-color: #f1f1f1;
  border: 0px;
  border-radius: 4px;
}
.login_b {
  margin-top: 10px;
  font-size: 13px;
}
.login_b_li1 {
  float: left;
  margin-top: 2px;
}
.login_b_li2 {
  float: right;
}
.login_btn_d {
  margin-top: 25px;
}
.login_btns {
  width: 100%;
  height: 48px;
  background-color: #60269e;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.order_v_btns {
  width: 100%;
  height: 48px;
  background-color: #aaa;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.login_join_btn {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
.pry_txt {
  border-radius: 4px;
  background-color: #f3f3f3;
  font-size: 12px;
  padding: 15px;
}

.api_join_tit {
  font-size: 16px;
  letter-spacing: -0.5px;
}
/* } */

/* 약관동의 { */
.agree_div {
  width: 750px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 30px 30px 70px rgba(0, 0, 0, 0.1);
  position: relative;
}
.agree_wrap {
  padding: 40px 40px 60px 40px;
  text-align: center;
}

.agree_top_txt {
  margin-top: 20px;
}
.agree_garee {
  margin-top: 20px;
  text-align: left;
}
.agree_area {
  margin-top: 15px;
}
.agree_area_input {
  background-color: #f1f1f1;
  border-radius: 4px;
  border: 0px;
  padding: 17px;
  width: 100%;
  height: 90px;
}
.agree_tit {
}
.agree_radio {
  margin-top: 20px;
}
.agree_radio_tit {
  float: left;
}
.agree_radio_sub {
  float: right;
  margin-left: 15px;
  margin-top: 3px;
}
.agree_chk {
  margin-top: 3px;
}
.option_sel {
  text-align: left;
  margin-top: 15px;
}
.option_sel ul {
  width: 100%;
}
.option_sel ul li {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}
.option_sel_tit {
  margin-top: 4px;
}
.option_gap {
  margin-right: 15px;
}

.agree_btn_div {
  position: absolute;
  width: 100%;
  margin-top: -24px;
}
.agree_btn_div ul {
  width: 40%;
  margin: 0 auto;
}

.agree_btns {
  width: 100%;
  height: 48px;
  background-color: #60269e;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.agree_btm {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  color: rgba(0, 0, 0, 0.7);
}
/* } */

/* 회원가입 { */

.api_join2 {
  border-top: 1px solid #eee;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.join_div {
  width: 750px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 30px 30px 70px rgba(0, 0, 0, 0.1);
  position: relative;
}
.join_wrap {
  padding: 40px 40px 60px 40px;
  text-align: center;
}
.join_top_txt {
  margin-top: 20px;
}
.join_join {
  margin-top: 20px;
  text-align: left;
}
.join_form {
}
.join_form_ul1 {
  float: left;
  width: 47%;
}
.join_form_ul2 {
  float: right;
  width: 47%;
}
.join_form_ul3 {
}
.join_tit {
}
.join_input {
  width: 100%;
  text-indent: 15px;
  height: 40px;
  background-color: #f1f1f1;
  border: 0px;
  border-radius: 4px;
  color: #000;
}
.join_inp_li {
  margin-top: 5px;
}
.join_btns {
  width: 100%;
  height: 40px;
  background-color: #aaa;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.join_d_l {
  float: left;
  width: 58%;
}
.join_d_r {
  float: right;
  width: 40%;
}
.join_d_l2 {
  float: left;
  width: 100%;
}
.join_d_r2 {
  float: right;
  width: 30%;
}
.join_d_l3 {
  float: left;
  width: 18%;
}
.join_d_l3 img {
  width: 100%;
}
.join_d_r3 {
  float: right;
  width: 80%;
}

#pros_img {
  width: 120px;
  height: 120px;
  border-radius: 4px;
}

#pros_img_bbs {
  width: 86px;
  height: 86px;
  border-radius: 4px;
}

.join_pro_area {
}
.join_pro_area_input {
  background-color: #f1f1f1;
  border-radius: 4px;
  border: 0px;
  padding: 17px;
  width: 100%;
  height: 76px;
}
.join_btn_div {
  position: absolute;
  width: 100%;
  margin-top: -24px;
}
.join_btn_div ul {
  width: 90%;
  margin: 0 auto;
}
.join_btns2 {
  width: 100%;
  height: 48px;
  background-color: #60269e;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.join_btm_txt {
  margin-top: 20px;
  text-align: center;
}
.join_btm {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  color: rgba(0, 0, 0, 0.7);
}

.rec_dl {
  width: 30%;
}
.rec_dr {
  width: 68%;
}
/* } */

/* 회원가입 완료 { */
.joinok_div {
  width: 750px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 30px 30px 70px rgba(0, 0, 0, 0.1);
  position: relative;
}
.joinok_wrap {
  padding: 40px 40px 60px 40px;
  text-align: center;
}
.joinok_top_txt {
  margin-top: 20px;
  line-height: 25px;
}
.joinok_btn_div {
  position: absolute;
  width: 100%;
  margin-top: -24px;
}
.joinok_btn_div ul {
  width: 40%;
  margin: 0 auto;
}
.joinok_btns2 {
  width: 100%;
  height: 48px;
  background-color: #60269e;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.joinok_btm {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  color: rgba(0, 0, 0, 0.7);
}
/* } */

/* shop { */
#ssch_cnt {
  float: left;
}
#sct_sort {
  width: 100%;
}
#ssch_sort {
  width: auto;
  float: right;
}
#ssch_sort li {
  height: auto;
  padding: 0px 0;
}
#ssch_sort li:hover:after {
  height: 0px;
}
#ssch_sort li:hover a {
  color: #60269e;
}
#ssch_sort li:first-child a {
  border: 0;
  padding-left: 0px;
}
#sct_sortlst {
  border: 0px;
}

.stv_item {
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 15px;
  margin-top: 15px;
}
.stv_item img {
  width: 40px;
  height: auto;
  border-radius: 4px;
}

.swiper-container_list img {
  height: auto;
}
.list_ico_ul {
  margin-top: 0px;
  padding-top: 10px;
}

.wr_content textarea,
.tbl_frm01 textarea,
.form_01 textarea,
.frm_input {
  border: 0px;
  background: #f3f3f3;
  color: #000;
  vertical-align: middle;
  border-radius: 4px;
  padding: 15px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#display_pay_button .btn_submit {
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border: 0;
}

#display_pay_button .btn01 {
  width: 100%;
  height: 50px;
  line-height: 38px;
  font-weight: normal;
  font-size: 16px;
  margin: 5px 0;
  border: 1px solid #ccd1d9;
}

a.btn01 {
  display: inline-block;
  padding: 4px;
  border: 1px solid #bababa;
  border-radius: 4px;
  background: #fff;
  color: #000;
  text-decoration: none;
  vertical-align: middle;
}

.btn_submit {
  border: 0px;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.btn_submit:hover {
  background: #333;
}

#sod_frm .tbl_frm01 th {
  width: 120px;
}

#sod_frm_pay .pay_tbl td {
  text-align: right;
  padding: 20px;
  height: 30px;
  border-bottom: 1px solid #e7ebf1;
  background: #fff;
}

#forderform .od_pay_buttons_el {
  margin-top: 20px;
  border: 1px solid #e3e5e8;
  background: #fff;
  padding: 20px;
}

.sod_left {
  display: inline-block;
  float: left;
  width: 67%;
  margin-right: 3%;
  vertical-align: top;
}

.sod_right {
  display: inline-block;
  float: left;
  width: 30%;
  height: 100%;
  vertical-align: top;
}

#sod_frm .od_prd_list {
  margin-bottom: 40px;
}

.sit_thum img {
  width: 70px;
  height: auto;
  border-radius: 4px;
}

.sit_use_li {
  position: relative;
  padding: 15px 0;
  padding-left: 90px;
  min-height: 100px;
  border-bottom: 1px solid #e0e0e0;
}

#sod_frm_pay .pay_tbl th {
  text-align: left;
  padding: 20px;
  width: 100px;
  border-bottom: 1px solid #e7ebf1;
  background: #fff;
  font-weight: bold;
  color: #777;
}

.sit_use_top {
  position: relative;
  background: #fff;
  border: 0px;
  margin: 0 0 15px;
  padding: 0px;
  padding-top: 13px;
  min-height: 50px;
  vertical-align: middle;
}

#sod_frm #sod_bsk_tot .sod_bsk_point,
#sod_frm #sod_bsk_tot .sod_bsk_cnt {
  width: 100%;
  clear: both;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  text-align: right;
}

#sod_fin_pay li > strong {
  margin-right: 10px;
  width: 70px;
}

#settle_bank {
  border: 0px;
  border-top: 0 none;
  background: #f3f3f3;
  padding: 10px;
  clear: both;
  line-height: 32px;
  box-sizing: border-box;
  margin-left: -1px;
  width: 99.7%;
}

#sod_sts_wrap {
  margin: 0 0 10px;
  text-align: right;
  display: none;
}

#sod_frm .tbl_frm01 td .btn_address {
  background: #434a54;
  color: #fff;
  width: 128px;
  height: 45px;
  border: 0;
  border-radius: 4px;
}

#sod_fin_no {
  margin: 0 0 20px;
  padding: 15px;
  border: 0px;
  background: #f3f3f3;
  font-size: 1.2em;
  border-radius: 4px;
  color: #000;
}

.tbl_head03 {
  margin: 0 0 40px;
}

#sod_frm #sod_frm_pt_alert {
  margin: 5px 0 10px;
  color: #999;
}

.sit_use_dl dd {
  color: #7f7f7f;
  line-height: 1.5em;
  font-size: 13px;
}

.sit_use_li_title {
  position: absolute;
  right: 0px;
  bottom: 15px;
  border: 1px solid #ddd;
  padding: 8px 10px;
  border-radius: 3px;
  color: #666;
  font-size: 0.92em;
  background: #fff;
}

#sit_qa {
  margin: 0px 0;
}

.sit_qa_li_title {
  display: block;
  float: left;
  width: 80%;
  text-align: left;
  background: none;
  border: 0;
  line-height: 25px;
  font-weight: normal;
  font-size: 16px;
}

.sit_qa_p {
  margin: 0px 0;
  background: #fff;
  line-height: 1.5em;
}

.sit_qa_con {
  display: none;
  clear: both;
  padding-top: 20px;
}

.sit_qa_qaa {
  padding: 15px 20px;
  padding-left: 20px;
  position: relative;
  min-height: 40px;
  background-color: #f3f3f3;
  border-radius: 4px;
  margin-top: 10px;
}

.sit_qa_qaq {
  padding: 0px 20px;
  padding-left: 0px;
  position: relative;
  min-height: 40px;
}

.sit_qa_li {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 0px;
}

#sit_qa_wbtn a {
  padding: 0 20px;
  line-height: 45px;
  font-weight: normal;
  font-size: 16px;
}

#sit_use_wbtn {
  position: absolute;
  top: 0px;
  right: 0px;
}

.sit_thum {
  top: 15px;
}

a.btn02 {
  display: inline-block;
  padding: 7px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  vertical-align: middle;
}

#sit_use_wbtn a {
  padding: 0 20px;
  line-height: 45px;
  font-weight: normal;
  font-size: 16px;
}

#sit_dvr {
  margin: 20px 0;
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 20px;
}

#sit_ex {
  margin: 20px 0;
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 20px;
}

#sit_tab {
  width: 100%;
}
#sit_tab:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
#sit_tab .tab_tit {
  border-bottom: 0px;
  background: #fff;
  padding: 0px;
}
#sit_tab .tab_tit:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
#sit_tab .tab_tit li {
  display: inline-block;
  float: left;
  margin-right: 30px;
}
#sit_tab .tab_tit li button {
  display: block;
  width: 100%;
  position: relative;
  font-size: 16px;
  padding: 0px 0px;
  border: 0;
  color: #666;
  background: #fff;
  line-height: 38px;
  text-align: center;
  z-index: 1;
}
#sit_tab .tab_tit li .selected {
  background: #fff;
  z-index: 2;
  border-bottom-color: #fff;
  color: #000;
}
#sit_tab .tab_tit li .selected:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #60269e;
  display: inline-block;
}
#sit_tab .tab_con {
  background: #fff;
  padding: 0px;
  padding-top: 25px;
  width: 100%;
}
#sit_tab .item_use_count,
#sit_tab .item_qa_count {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  font-size: 0.75em;
  line-height: 20px;
  padding: 0 5px;
  background: #eee;
  border-radius: 10px;
  color: #777;
}

.prd_op {
  border-radius: 4px;
  padding: 15px;
  border: 1px solid #eee;
}
.prd_op_dl {
  line-height: 25px;
}
.prd_op_li1 {
  float: left;
  width: 25%;
  color: #999;
}
.prd_op_li2 {
  float: left;
  color: #333;
}

.btn_v_01 {
  text-align: right;
}
.btn_v_01 a {
  line-height: 35px !important;
  background-color: #aaa;
  border-radius: 4px !important;
  color: #fff !important;
  font-size: 14px !important;
  padding: 0px 20px !important;
  font-weight: normal !important;
}

.add_sel {
  width: 100%; /* 사이즈 */
  padding: 13px; /* 내부여백 */
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
  background: url(./arrow_down_18dp.png) no-repeat right 50%; /* 화살표 위치 */
  background-size: 30px;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
  outline: none;
  font-size: 14px;
  background-color: #f1f1f1;
}

a.btn_b01,
.btn_b01 {
  display: inline-block;
  color: #bababa;
  text-decoration: none;
  vertical-align: middle;
  border: 0;
}

.sct_admin {
  display: none;
}

.wish_chk {
  display: none;
}

#sod_ws li .wish_info {
  padding: 0 35px 10px 0px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 10px;
  height: 55px;
}

#sod_ws_act .btn02 {
  border: 0px solid #1c70e9;
  background: #febe18;
}

#sct_sort {
  float: none;
  width: 100%;
}

#sct_lst {
  float: right;
  margin: 0 0;
  padding: 0;
  list-style: none;
  display: none;
}

.sit_option select {
  width: 100%; /* 사이즈 */
  padding: 13px; /* 내부여백 */
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
  background: url(./arrow_down_18dp.png) no-repeat right 50%; /* 화살표 위치 */
  background-size: 30px;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
  outline: none;
  font-size: 14px;
  background-color: #f1f1f1;
  margin: 5px 0 0px;
  height: 46px;
  font-family: "NotoSansKR Medium", sans-serif;
  font-size: 14px;
}

.sit_option {
  padding: 0px 0;
  margin: 0px 0 0;
}

#it_opt_added li {
  padding: 10px 15px;
  background: #f3f3f3;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 5px 0;
  position: relative;
}

#it_opt_added li .opt_name {
  line-height: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

#it_opt_added .sit_opt_prc {
  display: block;
  float: right;
  width: 100px;
  padding: 0 3px;
  text-align: right;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}

#it_tot_price {
  font-size: 18px;
  margin-left: 15px;
  font-family: "NotoSansKR bold", sans-serif;
  font-weight: normal;
  margin-left: 0px;
}

#it_tot_price strong {
  font-size: 18px;
  color: #ff6666;
  margin-left: 15px;
  font-weight: normal;
  font-family: "NotoSansKR Black", sans-serif;
}

.it_option label {
  display: none;
}

.it_use_dl .sit_use_tit {
  font-weight: normal;
  font-size: 1.167em;
  color: #000 !important;
}

.add_sel:focus {
  background-color: #e1e1e1;
  transition: all 350ms cubic-bezier(0.86, 1, 0.07, 1);
}
.add_sel:hover {
  background-color: #e1e1e1;
  transition: all 350ms cubic-bezier(0.86, 1, 0.07, 1);
}

.view_top_gnb {
  margin-bottom: 20px;
}
.view_top_gnb li {
  float: left;
  margin-right: 25px;
  line-height: 25px;
}
.view_top_gnb .acv {
  border-bottom: 2px solid #eee;
}
.view_top_gnb .acvtxt {
  color: #ff7d9e;
}

.main_w_1400 {
  width: 1400px;
  margin: 0px auto;
}
.main_w_1500 {
  width: 1500px;
  margin: 0px auto;
}
.main_w_1600 {
  width: 1600px;
  margin: 0px auto;
}

.sale_icos {
  float: right;
  margin-top: -2px;
}

.contents_text_ul {
  padding: 0px 30px 30px 30px;
}
.contents_text_ul2 {
  padding: 20px 30px 10px 30px;
}

.inp_ex1 {
  width: 400px;
}
.inp_ex2 {
  width: 300px;
}
.inp_sels {
  width: 200px;
}

.contents_div {
  background-color: #fff;
  min-height: 300px;
}
.contents_wrap {
}
.contents_1500 {
  width: 1400px;
  margin: 0px auto;
}
.contents_tit_ul2 {
  margin-top: -40px;
}
.contents_tit_ul {
}
.contents_l {
  float: left;
  width: 77%;
  padding-top: 30px;
}
.contents_r {
  float: right;
  width: 23%;
}
.contents_l2 {
  float: left;
  width: 63%;
}
.contents_r2 {
  float: right;
  width: 32.15%;
}
.contents_l_mg {
  margin-right: 0px;
  padding-right: 50px;
}
.contents_tit {
  letter-spacing: -1px;
  float: left;
  margin-top: 0px;
}
.contents_tit_v {
  letter-spacing: -1px;
  float: left;
  line-height: 35px;
}
.contents_more {
  float: right;
  margin-top: 3px;
}
.contents_more_mos {
  float: right;
  margin-top: 3px;
}
.contents_more2 {
  float: right;
  margin-top: 14px;
}
.contents_more_3 {
  float: right;
  margin-top: 3px;
}
.cont_ser_inp {
  background-color: #f1f1f1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-indent: 30px;
  height: 47px;
  border: 0px;
  width: 250px;
}
.cont_ser_btn {
  background-color: #f1f1f1;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
  height: 47px;
  border: 0px;
  width: 70px;
}
.cont_ser_btn span {
  padding-top: 2px;
}
.contents_ser_txt {
  margin-right: 20px;
  margin-top: 13px;
}
.content_subt {
  letter-spacing: -0.5px;
}
.content_subt span {
  color: #ffcc00;
}

.content_wrap_100 {
  background-color: #f3f3f3;
  box-sizing: border-box;
  padding: 70px 50px 80px 50px;
}
.con100_l {
  float: left;
  width: 48%;
}
.con100_r {
  float: right;
  width: 48%;
}

.cont_blog_t {
  color: #66cc66;
}
.cont_insta_t {
  color: #cc66ff;
}
.cont_you_t {
  color: #ff3333;
}
.cont_etc_t {
  color: #999;
}

.sw_l {
  width: 45%;
  float: left;
}
.sw_r {
  width: 45%;
  float: right;
}

.border-2 {
  border-top: 2px solid #eee;
  margin-top: 2px;
  padding-bottom: 2px;
}
.list_img_div {
  position: relative;
}
.list_img_end_ico {
  position: absolute;
  bottom: -10px;
  left: -1px;
}
.list_img_end_ico li {
  color: #fff;
  font-size: 13px;
  line-height: 12px;
  margin-top: 8px;
}

.list_img_point_ico {
  position: absolute;
  bottom: 13px;
  left: 13px;
  width: auto;
  height: 20px;
}
.point_span {
  font-size: 10px;
  color: #000;
  padding: 2px 5px 2px 5px;
  background-color: #fff;
  border-radius: 3px;
}
.point_span3 {
  font-size: 10px;
  color: #000;
  padding: 1px 3px 1px 3px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.point_span2 {
  font-size: 12px;
  color: #000;
}

.cont_mid_l {
  float: left;
}
.cont_mid_r {
  float: right;
}

.contents_more_li1 {
  float: left;
}
.contents_more_li2 {
  float: left;
}
.contents_more_li2 a {
  color: #ccc;
}
.contents_more_li2 a:hover {
  color: #aaa;
}
.contents_more_li2 span {
  font-size: 18px;
}

.contents_more_li2_v {
  float: left;
}
.contents_more_li2_v a {
  color: #ccc;
}
.contents_more_li2_v a:hover {
  color: #aaa;
}
.contents_more_li2_v span {
  font-size: 24px;
}

.contents_more_li3_v {
  float: left;
  margin-top: -3px;
  margin-right: 0px;
}

.view_tbl_div {
}
.tit_ss {
  margin-right: 0px !important;
}
.view_tbl {
  width: 100%;
  border-top: 2px solid #eee;
}
.view_tbl th {
  text-align: left;
  font-size: 14px;
  letter-spacing: -0.5px;
  width: 60%;
  padding: 15px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  vertical-align: center;
  box-sizing: border-box;
}
.view_tbl td {
  text-align: left;
  font-size: 13px;
  letter-spacing: -0.5px;
  width: 40%;
  color: #666;
  padding: 15px;
  border-bottom: 1px solid #eee;
  vertical-align: center;
  box-sizing: border-box;
}

.view_img img {
  width: 100%;
  height: auto;
}

.view_img {
  position: relative;
}

.add_imgs_div {
  position: relative;
  width: 150px;
  margin: 0 auto;
}

.view_1 {
  margin-top: 20px;
}
.view_1_client {
  font-size: 12px;
  color: #999;
}
.view_1_tit {
  font-size: 18px;
  color: #333;
  letter-spacing: -1px;
}

.view_1_ff_insta {
  border: 1px solid #cc66ff;
  font-size: 12px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
}
.view_1_ff_you {
  border: 1px solid #ff3333;
  font-size: 12px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
}
.view_1_ff_blog {
  border: 1px solid #66cc66;
  font-size: 12px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
}
.view_1_ff_etc {
  border: 1px solid #999;
  font-size: 12px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
}

.view_tit_ul01 {
  float: left;
  width: 60%;
  text-align: left;
}
.view_tit_ul02 {
  float: right;
  width: 40%;
  text-align: right;
}

.view_btn01 {
  background-color: #99a2ff;
  color: #fff;
  font-size: 14px;
  border: 0px;
  border-radius: 4px;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  letter-spacing: -0.5px;
}
.view_btn01:hover {
  opacity: 0.8;
}
.view_btn02 {
  background-color: #aaa;
  color: #fff;
  font-size: 16px;
  width: 100%;
  border: 0px;
  border-radius: 4px;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  letter-spacing: -0.5px;
}
.view_btn02:hover {
  opacity: 0.8;
}

.view_btn03 {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  letter-spacing: -0.5px;
  width: 100%;
}
.view_btn03:hover {
  opacity: 0.8;
}

.view_btn04 {
  background-color: #60269e;
  color: #fff;
  font-size: 16px;
  border: 0px;
  border-radius: 4px;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  letter-spacing: -0.5px;
  width: 100%;
}
.view_btn04:hover {
  opacity: 0.8;
}

.view_button1 {
  background-color: #ff7d9e;
  color: #fff;
  font-size: 14px;
  border: 0px;
  border-radius: 4px;
  display: block;
  text-align: center;
  letter-spacing: -0.5px;
  width: 100%;
  height: 46px;
}

.view_user_brns {
  border: 2px solid #333;
  border-radius: 4px;
  background-color: #fff;
  width: 150px;
  padding-top: 7px;
  padding-bottom: 4px;
  cursor: pointer;
  color: #000;
}
.view_user_brns:hover {
  border: 2px solid #99a2ff;
  color: #99a2ff;
  transition: all 350ms cubic-bezier(0.86, 1, 0.07, 1);
}
.view_user_brns .fl {
  margin-left: 10px;
}
.view_user_brns .fr {
  margin-right: 6px;
}
.view_user_brns .fr span {
  font-size: 18px;
}

.camp_add_ing {
  border: 1px solid #e1e1e1;
  border-radius: 15px;
  padding: 20px;
  margin-top: 30px;
}

.swiper-button-prev_item {
  top: auto !important;
  bottom: -22px !important;
  left: -7px !important;
}
.swiper-button-next_item {
  top: auto !important;
  bottom: -22px !important;
  right: -7px !important;
}

.swiper-slide_item img {
  border-radius: 10px !important;
}
.border_class {
  border: 1px solid #eee;
  box-sizing: border-box;
}

#sod_frm .tbl_frm01 th,
#sod_frm .tbl_frm01 td {
  padding: 0px;
  padding-top: 10px;
}

.sit_admin {
  display: none;
}
.sit_qa_cmd {
  margin-top: 5px;
}

.sit_use_reply {
  position: relative;
  border-top: 1px dotted #bbb;
  margin: 10px 0 0;
  padding: 10px 0 0 0px;
}

.use_reply_icon {
  display: none;
}
.cke_sc {
  display: none;
}

.new_win .btn_submit {
  padding: 0 20px;
  height: 45px;
  font-weight: normal;
  font-size: 1.083em;
}

th {
  font-weight: normal !important;
}
#ssch_sort_all li:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 0px;
  background: #fff;
}
#ssch_sort_all li:hover a {
  color: #60269e;
}

.sub_div {
  padding-top: 150px;
  padding-bottom: 150px;
}

#sod_bsk_act .btn_submit {
  height: 50px;
  padding: 0 10px;
  width: 160px;
  font-weight: normal;
  font-size: 1.25em;
}

#sod_bsk_act .btn01 {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  width: 160px;
  font-weight: normal;
  font-size: 1.25em;
}

.sod_img img {
  border-radius: 4px;
}
.sod_ws_img img {
  border-radius: 10px;
  margin-bottom: 10px;
}
.wish_del {
  border-radius: 4px;
}

.top_op_btn {
  margin-top: 11px !important;
}
/* } */

/* 메인 롤링 { */
#d_tab37 {
  position: relative;
  height: 450px;
  overflow: hidden;
}
#d_tab37 .d_img {
  height: 100%;
}
#d_tab37 .d_img li {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#d_tab37 .d_img li:first-child {
  left: 0;
}
#d_tab37 .d_img li .d_bg {
  position: absolute;
  left: 50%;
  width: 3000px;
  margin-left: -1500px;
  height: 100%;
}
#d_tab37 .d_img li .d_bg img {
  width: 100%;
}
#d_tab37 .d_img li .d_text {
  position: absolute;
  width: 1400px;
  left: 50%;
  margin-left: -700px;
  top: 0px;
}
#d_tab37 .d_img li .d_text .d_move {
  position: absolute;
  top: 150px;
  display: none;
}
#d_tab37 .d_img li .d_text .d_move.c1 {
  top: 150px;
}
#d_tab37 .d_img li .d_text .d_move.c2 {
  top: 210px;
}

#d_tab37 .d_arrow {
  position: absolute;
  width: 1400px;
  left: 50%;
  margin-left: -700px;
  top: 50%;
  margin-top: -35px;
}

#d_tab37 .d_arrow .d_prev {
  position: absolute;
  left: -15px;
  cursor: pointer;
}
#d_tab37 .d_arrow .d_next span {
  color: #fff;
  font-size: 40px !important;
  transition: all 350ms cubic-bezier(0.86, 1, 0.07, 1);
}
#d_tab37 .d_arrow .d_next {
  position: absolute;
  right: -15px;
  cursor: pointer;
}
#d_tab37 .d_arrow .d_next span {
  color: #fff;
  font-size: 40px !important;
  transition: all 350ms cubic-bezier(0.86, 1, 0.07, 1);
}

#d_tab37 .d_arrow .d_next:hover span {
  opacity: 0.6;
}

#d_tab37 .d_btn {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}
#d_tab37 .d_btn li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
#d_tab37 .d_btn li.on {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
}
/* } */

.list_btn_my {
  margin-left: 0px;
  cursor: pointer;
  letter-spacing: -0.5px;
}
.my_btns_div .material-icons {
  margin-top: 3px;
}
.my_btns_div {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
}
.ch_prd_div {
  background-color: #f9f9f9;
  padding-top: 1px;
  padding-bottom: 50px;
  margin-top: 15px;
}
.main_banner_div {
  padding-top: 30px;
  margin: 0 auto;
}

.r_tab_menu {
  padding: 20px 0px 10px 0px !important;
  margin-bottom: 15px;
}
.r_tab_menu a {
  font-size: 20px;
  transition: all 350ms cubic-bezier(0.86, 1, 0.07, 1);
  color: #aaa;
  margin-right: 10px;
}
.r_tab_menu a:hover {
  color: #000;
}

.shop_icon {
  display: inline-block;
  color: #fff;
  line-height: 20px;
  padding: 0 5px;
  font-size: 0.92em;
  margin: 1px;
  border-radius: 2px;
}
.shop_icon_0 {
  background: #333;
}
.shop_icon_1 {
  background: #3ec1d3;
}
.shop_icon_2 {
  background: #ffb722;
}
.shop_icon_3 {
  background: #2dd49f;
}
.shop_icon_4 {
  background: #556ee6;
}
.shop_icon_5 {
  background: #ff5081;
}

.shop_icon_soldout {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 215px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}
.shop_icon_soldout.h160 {
  line-height: 160px;
}
.shop_icon_coupon {
  background: #d45959;
}

.form-horizontal .form-group {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.qsearch-box {
  display: none;
}
.list-board .board-list li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-head > span {
  border-right: 0px;
}
.div-head a {
  color: #666 !important;
}
.view-wrap h1 {
  font-family: "NotoSansKR Bold", sans-serif;
}

.list-item {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.panel-heading .fa-user {
  display: none;
}
.faq-box {
  display: none;
}
